# order-service DB
ORDER_DB_NAME=orderdb
ORDER_DB_USER=order
ORDER_DB_PASSWORD=orderpw
ORDER_DB_ROOT_PASSWORD=rootpw
ORDER_DB_PORT=3306

# order-service
ORDER_SERVICE_PORT=8080

# product-service DB
PRODUCT_DB_NAME=productdb
PRODUCT_DB_USER=product
PRODUCT_DB_PASSWORD=productpw
PRODUCT_DB_ROOT_PASSWORD=rootpw
PRODUCT_DB_PORT=3307

# product-service
PRODUCT_SERVICE_PORT=8081

# Kafka
KAFKA_EXTERNAL_PORT=9094